<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body id="bodyHome">
    <h1>My Developer Skills<%= title %></h1>
    <h2>Anita Baljit</h2>
    <p>Please click the link below<%= title %></p>
    <a href="skills"><button>Skills</button></a>
    <p>
      <img
        src="https://contentstatic.techgig.com/photo/msid-81207309,width-400,resizemode-4/5-Essential-software-developer-skills-to-get-hired-in-2021.jpg"
        alt="Background"
      />
    </p>
  </body>
</html>
